html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #013369;
}

h1 {
  text-align: center;
  color: #D50A0A;
}

a {
  color: #D50A0A;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: #fff;
  border-radius: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-link {
  font-weight: bold;
  color: #fff;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.main-content {
  padding: 20px;
}

.back-to-home {
  margin: 20px;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 25px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  padding: 10px 20px;
  font-size: 1.25rem;
}

.card-body {
  padding: 20px;
}

.card-footer {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.card-link {
  color: #007bff;
  text-decoration: underline;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #D50A0A;
  border-radius: 25px;
}

h1 {
  margin-bottom: 20px;
  color: #013369; /* You can use a color that matches your theme */
}

.list-group {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  transition: background-color 0.3s;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.list-group-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.list-group-link:hover {
  color: #007bff;
}